<ul class="render">
  <% commands.each do |command| %>
    <li style="font-family: mono">
      <%= open_tag(command) %><% if command.children.count > 0 %>
    </li>
    <li style="font-family: mono">
      <%= render :partial => "commands", :locals => { :commands => command.children } %>
    </li>
    <li style="font-family: mono">
      <%= command_links(command) %><% end %><%= close_tag(command) %>
    </li>
  <% end %>
</ul>
