/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
tr:hover audio {
  opacity: 100;
}

audio {
  opacity: 0;
}

ul.render .hover-show {
  opacity: 0;
}

ul.render a.hover-visible {
  display: none;
}

ul.render li:hover > .hover-show {
  opacity: 100;
}

ul.render li:hover > .hover-visible {
  display: inline-block;
}

ul.render {
  list-style: none;
}

ul.render-main {
  padding: 16px;
  background: lightgray;
  border: 1px solid gray;
}
